*.a
*.d
*.o
*.so
*.ts

/bin
/include
/jit
/library
/libtool

/confdefs.h
/conftest*
/config.log
/config.status
/Makeconf
/Makefile
/Makefile.bak
/Makefrag.cc
/Makefrag.cc_lo
/Makefrag.cxx
/Makefrag.m

/doc/manual/R-*.html
/doc/manual/R-*.html.tmp
/doc/Makefile
/doc/NEWS.rds
/doc/R.1
/doc/html/Makefile
/doc/html/index.html
/doc/html/packages.html
/doc/manual/Makefile
/doc/manual/version.texi

/etc/*
!/etc/*.in

/m4/Makefile

/po/Makefile

/share/Makefile

/src/**/Makedeps
/src/**/Makefile
/src/**/*.po~
/src/**/*.mo
/src/extra/sparsehash/.deps/
/src/extra/sparsehash/autom4te.cache/
/src/extra/sparsehash/confdefs.h
/src/extra/sparsehash/config.log
/src/extra/sparsehash/config.status
/src/extra/sparsehash/src/sparsehash/internal/sparseconfig.h
/src/extra/sparsehash/src/stamp-h1
/src/extra/sparsehash/*test
/src/extra/sparsehash/libsparsehash.pc
/src/extra/sparsehash/src/config.h
/src/extra/sparsehash/time_hash_map

/src/include/*.tsa
/src/include/rho/stamp-R
/src/include/R_ext/stamp-R
/src/include/Rconfig.h
/src/include/Rmath.h
/src/include/Rmath.h0
/src/include/Rversion.h
/src/include/config.h
/src/include/stamp-R
/src/include/stamp-h

/src/library/stamp-docs
/src/library/*.inn
/src/library/*/all.R
/src/library/*/DESCRIPTION

/src/library/Recommended/stamp-recommended
/src/library/Recommended/*.ts.out

/src/main/R.bin
/src/main/jit/RuntimeImpl.bc

/src/scripts/Makefile
/src/scripts/R.fe
/src/scripts/R.sh
/src/scripts/Rcmd
/src/scripts/f77_f2c
/src/scripts/javareconf
/src/scripts/mkinstalldirs
/src/scripts/pager
/src/scripts/rtags

/src/unix/Rscript

/tests/Makefile
/tools/Makefile
/tests/*/Makefile

/stamp-java
.RData
.Rhistory
GIT-REVISION
autom4te.cache/
build-cxxr.sh
doc/FAQ
doc/NEWS
doc/RESOURCES
doc/doxygen/doxygen.conf.bak
doc/html/NEWS.html
doc/html/resources.html
doc/rho.1
non-tarball
src/extra/sparsehash/configure.lineno
tests/Examples/base-Ex.R
tests/Examples/base-Ex.R-cnt
tests/Examples/base-Ex.Rout
tests/Examples/base-Ex.Rout.prev
tests/Examples/base-Ex.pdf
tests/Examples/datasets-Ex.R
tests/Examples/datasets-Ex.R-cnt
tests/Examples/datasets-Ex.Rout
tests/Examples/datasets-Ex.Rout.prev
tests/Examples/datasets-Ex.pdf
tests/Examples/grDevices-Ex.R
tests/Examples/grDevices-Ex.R-cnt
tests/Examples/grDevices-Ex.Rout
tests/Examples/grDevices-Ex.Rout.prev
tests/Examples/grDevices-Ex.pdf
tests/Examples/graphics-Ex.R
tests/Examples/graphics-Ex.R-cnt
tests/Examples/graphics-Ex.Rout
tests/Examples/graphics-Ex.Rout.prev
tests/Examples/graphics-Ex.pdf
tests/Examples/grid-Ex.R
tests/Examples/grid-Ex.R-cnt
tests/Examples/grid-Ex.Rout
tests/Examples/grid-Ex.Rout.prev
tests/Examples/grid-Ex.pdf
tests/Examples/methods-Ex.R
tests/Examples/methods-Ex.R-cnt
tests/Examples/methods-Ex.pdf
tests/Examples/parallel-Ex.R
tests/Examples/parallel-Ex.R-cnt
tests/Examples/parallel-Ex.Rout
tests/Examples/parallel-Ex.Rout.prev
tests/Examples/parallel-Ex.pdf
tests/Examples/splines-Ex.R
tests/Examples/splines-Ex.R-cnt
tests/Examples/splines-Ex.Rout
tests/Examples/splines-Ex.Rout.prev
tests/Examples/splines-Ex.pdf
tests/Examples/stats-Ex.R
tests/Examples/stats-Ex.R-cnt
tests/Examples/stats-Ex.Rout
tests/Examples/stats-Ex.Rout.prev
tests/Examples/stats-Ex.pdf
tests/Examples/stats4-Ex.R
tests/Examples/stats4-Ex.Rout
tests/Examples/stats4-Ex.Rout.prev
tests/Examples/stats4-Ex.pdf
tests/Examples/tcltk-Ex.R
tests/Examples/tcltk-Ex.R-cnt
tests/Examples/tcltk-Ex.Rout
tests/Examples/tcltk-Ex.Rout.prev
tests/Examples/tcltk-Ex.pdf
tests/Examples/tools-Ex.R
tests/Examples/tools-Ex.R-cnt
tests/Examples/tools-Ex.Rout
tests/Examples/tools-Ex.Rout.prev
tests/Examples/tools-Ex.pdf
tests/Examples/utils-Ex.R
tests/Examples/utils-Ex.R-cnt
tests/Examples/utils-Ex.Rout
tests/Examples/utils-Ex.Rout.prev
tests/Examples/utils-Ex.pdf
tests/R-intro.R
tests/R-intro.Rout
tests/Rplots.pdf
tests/any-all.Rout
tests/arith-true.Rout
tests/arith.Rout
tests/array-subset.Rout
tests/complex.Rout
tests/d-p-q-r-tests.Rout
tests/datasets.Rout
tests/datetime.Rout
tests/datetime2.Rout
tests/demos.Rout
tests/demos2.Rout
tests/eval-etc.Rout
tests/ex.gz
tests/exNSS4_1.1.tar.gz
tests/iec60559.Rout
tests/internet.Rout
tests/internet2.Rout
tests/isas-tests.Rout
tests/lapack.Rout
tests/libcurl.Rout
tests/lm-tests.Rout
tests/method-dispatch.Rout
tests/myTst2/
tests/no-segfault.R
tests/ok-errors.Rout
tests/p-qbeta-strict-tst.Rout
tests/p-r-random-tests.Rout
tests/pkgA_1.2.tar.gz
tests/pkgB_1.0.tar.gz
tests/primitives.Rout
tests/print-tests.Rout
tests/r-strict-tst.Rout
tests/reg-BLAS.Rout
tests/reg-IO.Rout
tests/reg-IO2.Rout
tests/reg-S4.Rout
tests/reg-examples-1.pdf
tests/reg-examples-2.pdf
tests/reg-examples-3.pdf
tests/reg-examples1.Rout
tests/reg-examples2.Rout
tests/reg-examples3.Rout
tests/reg-packages.Rout
tests/reg-plot-latin1.Rout
tests/reg-plot-latin1.pdf
tests/reg-plot.Rout
tests/reg-plot.pdf
tests/reg-tests-1a.Rout
tests/reg-tests-1a.pdf
tests/reg-tests-1b.Rout
tests/reg-tests-1b.pdf
tests/reg-tests-1c.Rout
tests/reg-tests-1c.pdf
tests/reg-tests-2.Rout
tests/reg-tests-2.pdf
tests/reg-tests-3.Rout
tests/reg-tests-3.pdf
tests/rho/Allocatortest
tests/rho/ArgMatchertest
tests/rho/CellPooltest
tests/rho/MemoryBanktest
tests/rho/SETLENGTHtest
tests/rho/UnitTests
tests/simple-true.Rout
tests/testr/check.log
tests/reg-S4-examples.Rout
tests/testr/codetools-manual.log
tests/testr/foo
tests/testr/foo1
tests/testr/foo2
tests/testr/foo4
tests/testr/test.dat
tests/utf8-regex.Rout
src/nmath/standalone/
tests/-package.Rd
tests/.Rd
tests/base.Rcheck/
tests/base.log
tests/compiler.Rcheck/
tests/compiler.log
tests/datasets.Rcheck/
tests/datasets.log
tests/grDevices.Rcheck/
tests/grDevices.log
tests/graphics.Rcheck/
tests/graphics.log
tests/grid.Rcheck/
tests/grid.log
tests/integer(0)-package.Rd
tests/methods.Rcheck/
tests/methods.log
tests/mirrors.html
tests/no-segfault.Rout
tests/parallel.Rcheck/
tests/parallel.log
tests/splines.Rcheck/
tests/splines.log
tests/stats.Rcheck/
tests/stats.log
tests/stats4.Rcheck/
tests/stats4.log
tests/tcltk.Rcheck/
tests/tcltk.log
tests/tools.Rcheck/
tests/tools.log
tests/utils.Rcheck/
tests/utils.log
doc/NEWS.pdf
doc/manual/stamp-images-html
tests/Examples/methods-Ex.Rout
tests/Examples/methods-Ex.Rout.prev
tests/reg-tests-1d.Rout
tests/reg-tests-1d.pdf
tests/CRANtools.Rout
tests/Examples/example-1_def.R
tests/Examples/example-1_myA-noF.R
tests/Examples/example-1_myA.R
tests/PCRE.Rout
tests/p-qbeta-strict-tst.pdf
.Rproj.user
